<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose your smallcase | Discover smallcase on Groww</title>
    <link rel="icon" href="images/siteLogo.png" sizes="32x32">
    <link rel="stylesheet" href="css/style.css">
    <style>
        /* div{
            border: 0.5px solid red;
        } */
        .text-small{
            font-size: 9.7px;
        }
        .text-exsm{
            font-size: 11px;
        }
    </style>
</head>
<body>
    <div id="gnavbar"></div>
    <div class="w-4/5 m-auto select-none mt-5">
        <div>
            <h2 class="text-2xl text-xs font-semibold cursor-pointer">Discover</h2>
        </div>
        <div class="flex text-xs justify-between my-6">
            <div class="flex">
                <div class="mr-5 cursor-pointer hover:text-blue-600">
                    <h3 onclick="window.location.href = 'discover.html'">
                        Collection
                    </h3>
                </div>
                <div class="mr-5 cursor-pointer hover:text-blue-600">
                    <h3>
                        All smallcases
                    </h3>
                </div>
                <div class="mr-5 cursor-pointer hover:text-blue-600">
                    <h3>
                        Managers
                    </h3>
                </div>
            </div>
            <div class="pr-10 h-5 w-2/6">
                <input id="inp_search" type="text" class="px-10 border-gray-500 border p-2 rounded" placeholder="Try All Weather or Infosys">
                <div id="inp_sugg_box" class="hidden h-60 sticky border-gray-200 p-2 shadow-lg rounded overflow-scroll bg-white">
                </div>
            </div>
        </div>

        </div>
    </div>
    <hr class="w-4/5 m-auto">
    
    
    <div class="w-4/5 select-none m-auto flex justify-between gap-5">
        <div class="w-3/12 mt-5 select-none">
            <div class="flex justify-between">
                <div class="flex text-exsm text-gray-600 cursor-pointer">
                    <p class="mr-2">Filters</p>
                    <span class="bg-gray-200 w-4 rounded cursor-pointer">
                        
                    </span>
                </div>
                <p id="btnClearall" class="text-small font-semibold text-gray-600 cursor-pointer">Clear All</p>
            </div>
            <hr class="my-2">
            <h1 class="font-bold text-small text-gray-600 cursor-pointer">Investment Amount</h1>
            <form class="text-exsm items-center text-gray-700 cursor-pointer">
                <div class="flex items-center rounded hover:bg-gray-100 cursor-pointer">
                    <input type="radio" class="mr-2 mt-2 mb-1 sortByAmount" value="allAmount" name="sortByAmt">
                    <label class="text-small cursor-pointer">Any</label>
                </div> 
                <div class="flex items-center rounded hover:bg-gray-100 cursor-pointer">
                    <input type="radio" class="mr-2 my-1 sortByAmount" value="5000" name="sortByAmt">
                    <label class="text-small cursor-pointer">Under ₹ 5,000</label>
                </div>
                <div class="flex items-center rounded hover:bg-gray-100 cursor-pointer">
                    <input type="radio" class="mr-2 my-1 sortByAmount" value="25000" name="sortByAmt">
                    <label class="text-small cursor-pointer sortByAmount">Under ₹ 25,000</label>
                </div>
                <div class="flex items-center rounded hover:bg-gray-100 cursor-pointer">
                    <input type="radio" class="mr-2 my-1 sortByAmount" value="50000" name="sortByAmt">
                    <label class="text-small cursor-pointer">Under ₹ 50,000</label>
                </div>
            </form>
           <!-- Investment amount form ended -->
            <h1 class="font-bold my-2 text-small text-gray-600">Volatility</h1>
            <div class="grid grid-cols-3 gap-1 mr-8 text-gray-500 font-semibold text-small">
                <div id="btnSortLowRisk" class="border border-gray-400 rounded text-center  cursor-pointer hover:border-black">
                    <img src="images/risk_low.jpg" class="w-5 m-auto" alt="">
                    <p>Low</p>
                </div>
                <div id="btnSortMedRisk" class="border border-gray-400 rounded text-center cursor-pointer hover:border-black">
                    <img src="images/risk_mid.jpg" class="w-5 m-auto" alt="">
                    <p>Med</p>
                </div>
                <div id="btnSortHighRisk" class="border border-gray-400 rounded text-center cursor-pointer hover:border-black">
                    <img src="images/risk_hi.jpg" class="w-5 m-auto" alt="">
                    <p>High</p>
                </div>
            </div>
            <!-- Volatility from ended -->

            <h1 class="font-bold text-small mt-4 text-gray-600">Launch Date</h1>
            <form class="text-exsm items-center text-gray-700">
                <div class="flex items-center rounded hover:bg-gray-100 cursor-pointer">
                    <input id="radioIncludeNew" value="includeNew" type="radio" class="mr-2 mt-2 mb-1" name="includeNew">
                    <label class="text-small cursor-pointer">Include new smallcases</label>
                </div>
            </form>
            <!-- Launchdate form ended -->

            <h1 class="font-bold text-small mt-4 text-gray-600 cursor-pointer">Investment Strategy</h1>
            <form class="text-exsm items-center text-gray-700">
                <div class="flex items-center rounded hover:bg-gray-100 cursor-pointer">
                    <input type="radio" class="mr-2 mt-2 mb-1 soryByInvStrategy" value="assetAllocation" name="investmentStrategy">
                    <label class="text-small cursor-pointer">Asset Allocation</label>
                </div>
      
                <div class="flex items-center rounded hover:bg-gray-100 cursor-pointer">
                    <input type="radio" class="mr-2 mt-2 mb-1 soryByInvStrategy" value="dividend" name="investmentStrategy">
                    <label class="text-small cursor-pointer">Dividend</label>
                </div>
       
                <div class="flex items-center rounded hover:bg-gray-100 cursor-pointer">
                    <input type="radio" class="mr-2 mt-2 mb-1 soryByInvStrategy" value="esg" name="investmentStrategy">
                    <label class="text-small cursor-pointer">ESG</label>
                </div>
           
                <div class="flex items-center rounded hover:bg-gray-100 cursor-pointer">
                    <input type="radio" class="mr-2 mt-2 mb-1 soryByInvStrategy" value="fundamental" name="investmentStrategy">
                    <label class="text-small cursor-pointer">Fundamental</label>
                </div>
        
                <div class="flex items-center rounded hover:bg-gray-100 cursor-pointer">
                    <input type="radio" class="mr-2 mt-2 mb-1 soryByInvStrategy" value="growth" name="investmentStrategy">
                    <label class="text-small cursor-pointer">Growth</label>
                </div>
      
                <div class="flex items-center rounded hover:bg-gray-100 cursor-pointer">
                    <input type="radio" class="mr-2 mt-2 mb-1 soryByInvStrategy" value="quality" name="investmentStrategy">
                    <label class="text-small cursor-pointer">Quality</label>
                </div>

                <div class="flex items-center rounded hover:bg-gray-100 cursor-pointer">
                    <input type="radio" class="mr-2 mt-2 mb-1 soryByInvStrategy" value="quantamental" name="investmentStrategy">
                    <label class="text-small cursor-pointer">Quantamental</label>
                </div>

                <div class="flex items-center rounded hover:bg-gray-100 cursor-pointer">
                    <input type="radio" class="mr-2 mt-2 mb-1 soryByInvStrategy" value="quantitative" name="investmentStrategy">
                    <label class="text-small cursor-pointer">Quantitative</label>
                </div>
                <div class="flex items-center rounded hover:bg-gray-100 cursor-pointer">
                    <input type="radio" class="mr-2 mt-2 mb-1 soryByInvStrategy" value="sectorTracker" name="investmentStrategy">
                    <label class="text-small cursor-pointer">Sector Tracker</label>
                </div>

                <div class="flex items-center rounded hover:bg-gray-100 cursor-pointer">
                    <input type="radio" class="mr-2 mt-2 mb-1 soryByInvStrategy" value="technical" name="investmentStrategy">
                    <label class="text-small cursor-pointer">Technical</label>
                </div>

                <div class="flex items-center rounded hover:bg-gray-100 cursor-pointer">
                    <input type="radio" class="mr-2 mt-2 mb-1 soryByInvStrategy" value="thematic" name="investmentStrategy">
                    <label class="text-small cursor-pointer">Thematic</label>
                </div>

                <div class="flex items-center rounded hover:bg-gray-100 cursor-pointer">
                    <input type="radio" class="mr-2 mt-2 mb-1 soryByInvStrategy" value="value" name="investmentStrategy">
                    <label class="text-small cursor-pointer">Value</label>
                </div>
            </form>
        </div>
        <!-- Investment amount form ended -->

        <!-- For appending smallcases -->
        <div id="mainCont" class="w-9/12 select-none">
            <%data.forEach(el=>{%>
                <div class="grid grid-cols-2 hover:bg-gray-100 cursor-pointer rounded"><div class="flex"><div class="m-5 flex"><img class="w-12 h-12 rounded" alt="Unable to load" src=<%=el.info.imageUrl%>><div class="ml-2"><h1 class="text-sm font-semibold"><%=el.info.name%></h1><p class="text-small text-gray-700"><%=el.info.shortDescription%></p></div></div></div><div class="m-5 h-12 flex gap-5 justify-between items-end"><div><h1 class="text-gray-600 text-small">Min. Amount</h1><p class="text-sm">₹ <%=el.stats.minInvestAmount%></p></div><div><h1 class="text-gray-600 text-small">3Y CAGR</h1><p class="text-green-500 text-sm font-semibold"><%=el.stats.ratios.cagr3y%> %</p></div><div class="h-full"><div class="h-full flex items-center"><img src="./images/risk_low.jpg" class="w-4 inline"><p class="inline text-small text-gray-600">Low Volatility</p></div></div></div></div>
            <%})%>
        </div>
    </div>

    <div id="footer"></div>

    <script type="module">
        import navbar from "./gnavbar/gnavbar.js"; 
   let gnavbar_div = document.getElementById("gnavbar")

   gnavbar_div.innerHTML = navbar(); 

   import footer from "./gnavbar/gfooter.js"; 
   let footer_div = document.getElementById("footer");

   footer_div.innerHTML = footer(); 

    </script>

    <script src="js/allsmallcase.js"></script>
</body>
</html>